@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

body{
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
  font-family: Source Sans Pro,ans-serif;
  font-weight: 400;
  /*color:  #314453; */
  color:  #1c2933 ;
}

.search-bar input[type=text]{
  padding: 10px 25px 10px 15px;
  style: none;
  border:none;
  border-radius: 2px;
  border: 3px solid white;
  transition-duration: 0.5s;
  width: 40vw;
  font-size: 1em;
}

.search-bar input[type=text]:hover,input[type=text]:focus{
  border: 3px solid  #008dfb;
}

h2{
  font-size: 1.2em;
}

p{
  font-size: 0.9em;
}

.search-bar button{
  width: 15vw;
  padding: 10px 25px 10px 25px;
  border: none;
  margin-left: 15px;
  background-color: #008dfb;
  color: white;
  border-radius: 3px;
  text-align: center;
  border: 3px solid  #008dfb;
  width: auto;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: flex-start;
  align-items:flex-start;
}

.search-bar{
  height: 10vh;
  min-height: 10vh;
  max-height: 10vh;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px 0 25px;
}

.content-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: center;
}

.profile{
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 25px 25px 25px 25px;
  max-width: 15vw;
}

.profile h2{
  font-weight: 600;
}

.profile img{
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.repo-wrapper{
  flex:1;
  padding: 25px;
}

.repo-list{
   display: grid;
   height: fit-content
   background-color:  #72c2ff;
   grid-template-columns: auto auto;
   grid-row-gap: 25px;
   grid-column-gap: 25px;
   width: 100%;
}

.repo-card{
  display: flex;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  flex-direction: column;
  background-color: #f3f3f3;
  border-radius: 3px;
  border: 0.5px solid  #1c2933;
}

.repo-details{
  flex: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.repo-details h2{
  font-weight: 600;
}

.repo-card .repo-details a{
  margin-top: 5px;
}

.repo-language{
  width: fit-content;
  height: auto;
  align-self: flex-end;
}

.repo-language p{
  padding: 5px 25px 5px 25px;
  background-color: #1c2933;
  border-radius: 0 2px 0 2px;
  color: white;
}

@media screen and (max-width:940px){

  .page-wrapper{
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
  }

  .repo-list{
    grid-template-columns: auto;
    height: auto;
  }

  .content-wrapper{
    flex-direction: column;
    height: auto;
  }

  .repo-card{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .repo-card .repo-language p{
    font-size: 0.8em;
  }

  .repo-card .repo-details h2{
    font-size: 0.9em;
  }

  .repo-card .repo-details a{
    font-size: 0.8em;
  }

  .search-bar{
    justify-content: center;
    height: auto;
  }

  .profile{
    width: auto;
    max-width: none;
  }


}

@media screen and (max-width:340px){
  .repo-card .repo-details a{
    font-size: 0.8em;
    max-width: 250px;
  }
}
